@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0 11%;

    --card: 0 0% 100%;
    --card-foreground: 0 0 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0 11%;

    --primary: 30 67% 20%;
    --primary-foreground: 0 0 11%;

    --secondary: 30 14% 89%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 0 0% 100%;
    --muted-foreground: 235 7% 70%;

    --accent: 30 14% 89%;
    --accent-foreground: 0 0 11%;

    --destructive: 7 100% 59%;
    --destructive-foreground: 0 0% 100%;

    --border: 214.3 31.8% 91.4%;
    --input: 260 5% 65%;
    --ring: 30 67% 20%;

    --radius: 6px;

    --white: 0 0% 100%;

    --black: 0 0 11%;

    --gray4b4b4b: 0 0 29%;
    --gray79747e: 270 4 47%;
    --graya4a1aa: 260 5 65%;
    --grayadaeb8: 235 7 70%;
    --graycbc9cf: 260 6 80%;
    --graydddddd: 0 0 87%;
    --grayeeeeee: 0 0 93%;
    --grayfafafa: 0 0 98%;

    --redff472e: 7 100 59%;
    --redffe4e0: 8 100 94%;

    --green00ac07: 122 100 34%;

    --orangeff7c1d: 25 100 56%;
    --orangefff4e8: 31 100 95%;

    --yellowffc23d: 41 100 62%;

    --blue0085ff: 209 100 50%;
    --blue2eb4ff: 202 100 59%;
    --bluee5f3ff: 208 100 95%;
  }

  .dark {
    --background: 250 70% 5%;
    --foreground: 0 0% 87%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 248 7% 73%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 248 28% 27%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 248 28% 27%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 6px;

    --white: 0 39% 1%;

    --black: 0 0% 87%;

    --gray4b4b4b: 0 0 29%;
    --gray79747e: 270 4 47%;
    --graya4a1aa: 260 5 65%;
    --grayadaeb8: 235 7 70%;
    --graycbc9cf: 260 6 80%;
    --graydddddd: 0 0 87%;
    --grayeeeeee: 0 0 93%;
    --grayfafafa: 0 0 98%;

    --redff472e: 7 100 59%;
    --redffe4e0: 8 100 94%;

    --green00ac07: 122 100 34%;

    --orangeff7c1d: 25 100 56%;
    --orangefff4e8: 31 100 95%;

    --yellowffc23d: 41 100 62%;

    --blue0085ff: 209 100 50%;
    --blue2eb4ff: 202 100 59%;
    --bluee5f3ff: 208 100 95%;
  }
}

@layer base {
  * {
    @apply border-border focus-visible:outline-none;
  }
  body {
    @apply bg-background text-foreground;
  }
}
